body {
  background-color: #FCF8E8;
  font-family: Gill Sans, sans-serif;
}

hr {
  border: 10px;
  border-style: dotted none none none;
  color: #CEE5D0;
  height: 2px;
  width: 15%;
}
h1 {
  color: #ECB390;
}
h3 {
  color: #ECB390;
}
